{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3 class="text-center">Ваша корзина</h3>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<br>
{% if cart.items.count > 0 %}
<div class="my-cart">
<table class="table">
    <tr>
        <td class="text-center">Товар</td>
        <td class="text-center">Кол-во</td>
        <td class="text-center">Цена</td>
        <td class="text-center"></td>
        
    </tr>
    {% for item in cart.items.all %}
        <tr id='{{ item.product.slug }}'>
            <td class="text-center">{{ item.product.title }}</td>
            <td class="text-center">
                <form action="" method="GET">
                    <input class="cart-item-qty" data-id="{{ item.id }}" type="number" name="qty" value="{{ item.qty }}" min="1" style="width: 50px">
                </form>
            </td>
            <td class="text-center" id="cart-item-total-{{ item.id }}">{{ item.item_total }} руб.</td>
            <td class="text-center"><a href="#" class="remove_from_card" data-slug='{{ item.product.slug }}'><button class="btn btn-danger">Удалить</button></a></td>
        </tr>
    {% endfor %}
<tr>
    <td></td>  
    <td class="text-center">Итого</td>
    <td class="text-center" id="cart-total-price-"><strong>{{ cart.cart_total }} руб.</strong></td>
    <td></td>
</tr>
</table>
<br>
<a href="{% url 'checkout' %}" ><button class="btn btn-info">Пред. заказ</button></a>
</div>
{% else %}
<h3 class="text-center">Ваша корзина пуста</h3>
{% endif %}
<h3 class="cart-empty"></h3>


<script>
    // jQuery логика
    $(document).ready(function(){
        $('.cart-empty').css('display', 'none')
        $('.remove_from_card').on('click', function(e){
            e.preventDefault() // чтобы по умолчанию не делала того что должен делать (т.е клик)
            product_slug = $(this).attr('data-slug') // по клику печатать слаг продукта
            console.log(product_slug)
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: "GET",
                url: '{% url "remove_from_cart" %}',
                data: data,
                success: function(data){
                   $("#cart_count").html(data.cart_total)
                //    $('.cart-item'+item_product_id).css('display', 'none')
                   $('#' + product_slug).remove()
                   $('#cart-total-price-').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2) + ' руб. </strong>')
                   if(parseInt(data.cart_total) == 0) {
                        $('.my-cart').css('display', 'none')
                        $('.cart-empty').css('display', 'block')
                        $('.cart-empty').html('<h3 class="text-center">Ваша корзина пуста</h3>')
                   }
                }
            })

        })
    })
  
</script>
<script>
    $(document).ready(function(){
        $('.cart-item-qty').on('click', function(){
            qty = $(this).val() // берем значение из value
            item_id = $(this).attr('data-id')
            data = {
                qty : qty,
                item_id : item_id
            }
            $.ajax({
                type: "GET",
                url: '{% url "change_item_qty" %}',
                data: data,
                success: function(data){
                   $('#cart-item-total-' + item_id).html(parseFloat(data.item_total).toFixed(2) + ' руб.')
                   $('#cart-total-price-').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2) + ' руб. </strong>')
                }
            })
        })
    })
</script>

{% endblock %}